<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="net.netne.api.dao.IMemberDao">
     <!-- 新增用户 -->
	 <insert id="addMember" parameterType="Member">
	 		insert into member (name,password,mobile,sex) values(#{name},#{password},#{mobile},#{sex})
	 	<selectKey resultType="int" keyProperty="id" order="AFTER">  
  			SELECT LAST_INSERT_ID() as id
  		</selectKey>  
	 </insert>
	 
	 <!-- 新增用户账户信息 -->
	 <insert id="addAccount" parameterType="Account">
	 	insert into account (member_id,score_amount,freeze_amount,modify_time) values(#{memberId},#{scoreAmount},#{freezeAmount},now())
	 </insert>
	 
	 <!-- 修改用户信息 -->
	 <update id="updateMember" parameterType="map">
	     update member set name=#{name}, sex=#{sex} where id = #{memberId};
	 </update>
	 
	 <!-- 修改密码 -->
	 <update id="modifyPassword" parameterType="map">
	     update member set password=#{password} where id = #{memberId};
	 </update>
	 
	 <!-- 手机号获取用户信息-->
	 <select id="getMember" resultType="Member" parameterType="String">
		select id,name,password,mobile,sex from member where mobile = #{mobile};
	 </select>
	
	 <!-- 获取用户账户信息-->
	 <select id="getAccount" resultType="Account" parameterType="int">
		select score_amount as scoreAmount,freeze_amount as freezeAmount from account where member_id = #{memberId};
	 </select>
</mapper> 
