<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="net.netne.api.dao.IPrizeDao">

	<insert id="addPrize" parameterType="Prize">
		insert into prize 
	 		(name,stock,probability,type,par_value,create_time) 
	 	values
	 		(#{name},#{stock},#{probability},#{type},#{parValue},now())
	 	<selectKey resultType="int" keyProperty="id" order="AFTER">  
  			SELECT LAST_INSERT_ID() as id
  		</selectKey>  
	</insert>
     
	 <update id="modifyPrize" parameterType="Prize">
	     update prize set 
	    	 name = #{name},stock = #{stock} ,probability=#{probability},type=#{type},
	    	 par_value = #{parValue}
	    	 <if test="photoData != null">
	    		 ,photo=#{photoData}
	    	 </if>
	     where id = #{id};
	 </update>
	 
	 <select id="getPrizeById" resultType="Prize" parameterType="Integer">
		select id,name,probability,stock,type,par_value as parValue,
		case when photo is null  then 'false' when photo is not null then 'true' end as photoUrl
		from prize where id = #{id};
	 </select>
	 
	 <select id="getPrizeList" resultType="Prize" parameterType="map">
	 	select id,name,probability,stock,type,par_value as parValue,
	 	case when photo is null  then 'false' when photo is not null then 'true' end as photoUrl
	 	from prize where is_delete = 0  order by id desc limit #{startNum},#{size};
	 </select>
	 
	 <update id="modifyStockPrize" parameterType="map">
	 	update prize set stock = stock - #{stock} where id = #{id}
	 </update>
	
	 <select id="getPrizeCount" resultType="long">
	 	select count(id) from prize where is_delete = 0;
	 </select>
	 
	 <insert id="addPrizeMember" parameterType="map">
		insert into prize_member
	 		(prize_id,member_id,member_mobile,member_name,prize_name,receive_key,create_time) 
	 	values
	 		(#{prizeId},#{memberId},#{memberMobile},#{memberName},#{prizeName},#{key},now())
	</insert>
	
	<update id="updateMemberInfo4Prize" parameterType="map">
		update prize_member 
		set member_mobile = #{memberMobile},member_address = #{memberAddress}
		where receive_key = #{key} and member_id = #{memberId}
	</update>
	
	<select id="getPrizeMemberList" resultType="PrizeMember" parameterType="map">
	 	select prize_member.id,prize_id as prizeId,member_id as memberId,
	 	member_mobile as memberMobile,member_name as memberName,
	 	prize_name as prizeName,prize_member.create_time as date,member_address as address
	 	from prize_member left join prize on prize_id = prize.id where type != 1
	 	order by id desc limit #{startNum},#{size};
	 </select>
	
	 <select id="getPrizeMemberCount" resultType="long">
	 	select count(prize_member.id) from prize_member left join prize on prize_id = prize.id where type != 1;
	 </select>
	 
	 <!-- 保存奖品照片 -->
	 <update id="updatePrizePhoto" parameterType="PrizePhoto">
	 		update prize set photo = #{photo} where id = #{id}
	 </update>
	 
	 <!-- 读取奖品照片 -->
	  <select id="getPrizePhoto" parameterType="int" resultType="PrizePhoto">
	 		select photo from prize where id = #{id}
	 </select>
	 
	 <!-- 删除奖品 -->
	  <update id="deletePrize" parameterType="int">
	 		update prize set is_delete = 1 where id = #{id}
	 </update>
	 
</mapper> 
